@{
    ViewBag.Title = "Lista categorii";
}
<h2>@ViewBag.Title</h2>
@foreach (var category in ViewBag.Categories)
{
    <p>@category.name</p>
    <a href="/Student/Show/@category.categoryId">Afisare categorie</a>
    <br />
    <hr />
    <br />
}
<a href="/Category/New">Adauga alta categorie</a>
<br />