@{
    ViewBag.Title = "New";
}
<h2>Creare categorie noua</h2>
<p>Afisare formular de adaugare categorie:</p>
<form method="post" action="/Category/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Name" />
    <br /><br />
    <button type="submit">Adauga categorie</button>
</form>