@{
    ViewBag.Title = "Afisare student";
}
<h1>@ViewBag.Category.name</h1>
<br />
<a href="/Student/Edit/@ViewBag.Category.categoryId">Modifica categorie</a>
<form method="post" action="/Category/Delete/@ViewBag.Category.categoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge studentul</button>
</form>
<hr />
<a href="/Student/Index">Inapoi la lista studentilor</a>
<br />
<a href="/Student/New">Adauga alt student</a>
<br />
