
@{
    ViewBag.Title = "Lista categorii";
    Layout = "~/Views/Shared/_LayoutEx1.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.message</h3>

@foreach (var category in ViewBag.Categories)
{
    <p>@category.Name</p>
    <a href="/Category/Show/@category.CategoryId">Afisare categorie</a>
    <br />
    <hr />
    <br />
}

<a href="/Category/New">Adauga o noua categorie</a>
<br />