
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutEx1.cshtml";
}

<h2>Creare categorie</h2>
<p>Afisare formular de adaugare categorie</p>
<form method="post" action="/Category/New">
    <label>Name</label>
    <br />
    <input type="text" name="Name" />
    <button type="submit">Adauga categorie</button>
</form>